* text=auto !eol
/getnltk.py -text
/rssfucker.py -text
/scraper_classes.py -text
/scrapers.py -text
/scrp-azathabar.py -text
/scrp-azattyk.py -text
/scrp-azattyq.py -text
/scrp-azatutyun.py -text
/scrp-bolod.py -text
/scrp-chuvash.py -text
/scrp-hypar.py -text
/scrp-newsmn.py -text
/scrp-olloo.py -text
/scrp-ozodlik_lot.py -text
/scrp-svoboda.py -text
/xml2txt.py -text
